/* Import Google font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #E3F2FD;
}
.wrapper {
  width: 65vmin;
  height: 70vmin;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  border-top: 10px double black;
  border-left: 10px double black;
  border-right: 10px double red;
  border-bottom: 10px double red;
  border-radius: 5px;
  background: #eef0f3;
  box-shadow: 0 20px 40px rgba(52, 87, 220, 0.2);
}
.game-details {
  color: #B8C6DC;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 20px 27px;
  display: flex;
  justify-content: space-between;
}
.play-board {
  height: 100%;
  width: 100%;
  display: grid;
  background-image: url(snak.jpg);
  background-repeat: no-repeat;
  /* Prevent the background image from repeating */
  background-size: cover;
  /* Scale the image to cover the grid cells */
  grid-template: repeat(30, 1fr) / repeat(30, 1fr);
}
.play-board .food {
  background: rgb(255, 17, 0);
  border-radius: 50% ;
}
.play-board .head {
  background: yellow;
}
.play-board .bigger-food {
  background: rgb(255, 0, 221); /* Change the color to your preference */
  border-radius: 40%;
  animation: pulse 1s infinite alternate; /* Add an animation for visual effect */
}
.controls {
  display: none;
  justify-content: space-between;
}
.controls i {
  padding: 25px 0;
  text-align: center;
  font-size: 1.3rem;
  color: #B8C6DC;
  width: calc(100% / 4);
  cursor: pointer;
  border-right: 1px solid #171B26;
}
.play-board {
  position: relative;
}
.game-over-container {
  display: flex;
  position: absolute;
  /* Change position to absolute */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  /* Ensure the game over screen is on top of everything */
}
/* Add these styles to your existing CSS */
.game-over-label-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  /* Initially hidden */
}

.game-over-label {
  font-size: 2rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  border-radius: 5px;
}
#replayButton {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}


@media screen and (max-width: 800px) {
  .wrapper {
    width: 90vmin;
    height: 115vmin;
  }
  .game-details {
    font-size: 1rem;
    padding: 15px 27px;
  }
  .controls {
    display: flex;
  }
  .controls i {
    padding: 15px 0;
    font-size: 1rem;
  }
}
@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2); /* Scale the bigger food slightly */
  }
}